/* Custom CSS for the Banner */
.banner-section {
    background-size: cover;
    background-position: center;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
p.lead{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}
.navbar-brand{
    font-family: Georgia, 'Times New Roman', Times, serif;
}
#About{
    font-size: large;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: maroon
}
h5{
    font-size: larger;
}
i{
    color: darkolivegreen;
}
q{
    color: olivedrab;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}
.banner-section {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('hotel.jpg');
    background-size: cover;
    /* This makes the image cover the whole area */
    background-position: center;
    /* This centers the image */
    height: 80vh;
    /* This makes the banner 80% of the screen height */
    display: flex;
    color: white;
}

/* Ensure the text is readable */
.banner-section h1 {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
}